<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.min.js', 'prettyfile.js', 'admin/features/new.js' %>
<% end %>

<div class="content_box table">
  <h1><%= t('.new_feature') %></h1>

  <%= form_tag admin_features_path do %>
    <% @features_fields.each do |column| %>
      <%= label_tag column[:name], column[:name], :class => 'field_label' %>
      <%= build_field_for_column(column) %>
    <% end %>

    <!-- <span class="file_content">
      <%= file_field :post, :attached, :accept => 'text/html', :id=>"file_input" %>
    </span> -->

    <div>
      <%= submit_tag t('.save_changes'), :class => 'main_action' %>
    </div>
  <% end %>

  <div class="side_bar">
    <%= link_to (content_tag(:span) + t('.sidebar.back_dashboard')), admin_dashboard_index_path, :class => 'back' %>
  </div>
</div>
