<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.min', 'rails' %>
<% end %>

<div class="content_box table">
  <div class="left">
    <h1><%= t('.feature_id', :id => params[:id]) %></h1>

    <%= form_tag admin_feature_path(params[:id]), :method => :put do %>
      <% @features_fields.each do |column| %>
      <label for="<%= column[:name] %>" class="field_label"><%= column[:name].upcase %></label>
      <%= build_field_for_column column, @feature[column[:name].to_sym] %>
      <% end %>

      <div>
        <%= submit_tag t('.save_changes'), :class => 'main_action' %>
      </div>
    <% end %>

  </div>

  <div class="side_bar">
    <a href="/admin/" class="back"><%= t('.sidebar.back_dashboard') %></a>
    <div class="delete">
      <span><%= t('.sidebar.delete.title') %></span>
      <p><%= t('.sidebar.delete.hint') %></p>
      <%= link_to t('.sidebar.delete.link'), admin_feature_path(@feature.cartodb_id), :confirm => t('.sidebar.delete.confirm'), :method => :delete %>
    </div>
  </div>
</div>
