<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.1.5.1.js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'admin/dashboard/index.css' %>
<% end %>

<div id="features_list" class="table">
  <span class="title"><%= t('.your_features') %></span>
  <div id="search">
    <%= form_tag '/', :method => :get do %>
      <%= label_tag 'search', t('.search_label') %>
      <%= text_field_tag 'search' %>
      <%= submit_tag t('.search') %>
    <% end %>
    <%= link_to content_tag(:span, t('.prev_page')), '#', :id => 'prev_page' %>
    <%= link_to content_tag(:span, t('.prev_page')), '#', :id => 'next_page' %>
  </div>
  <table class="list">
    <tr class="header">
      <th class="id">id.</th>
      <% @features_columns.each do |column| %>
      <th class="<%= column.last %>"><%= column.first %></th>
      <% end %>
    </tr>
    <% @features.rows.each do |row| %>
      <tr class="item <%= cycle('odd', 'even') %>">
        <td class="cartodb_id"><%= link_to row.cartodb_id, '#' %></td>
        <% @features_columns.each do |column| %>
          <td class="<%= column.first %>"><%= row.send(column.first) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= link_to t('.create_feature'), '#', :id => 'create_feature', :class => 'main_action' %>
  <%= link_to t('.edit_in_cartodb'), '#', :id => 'edit_in_cartodb', :class => 'alternate_action' %>
  <%= paginate @features.rows, 1, @features.total_rows %>
</div>

<div id="pages_list" class="pages">
  <span class="title">Your pages</span>
  <div class="pages_list_container">
    <ul>
      <li>
        <div>
          <p>About your catoset</p>
          <p class="link"><a href="#">edit this page</a></p>
        </div>
      </li>
      <li>
        <div>
          <p>About your catoset</p>
          <p class="link"><a href="#">edit this page</a></p>
        </div>
      </li>
      <li>
        <div>
          <p>About your catoset</p>
          <p class="link"><a href="#">edit this page</a></p>
        </div>
      </li>
      <li>
        <div>
          <p>About your catoset</p>
          <p class="link"><a href="#">edit this page</a></p>
        </div>
      </li>                              
    </ul>
  </div>
  <div class="pages_footer">
    <a href="#" class="main_action">Create new page</a>
  </div>
</div>

<div id="settings_list" class="settings">
  <span class="title">Settings</span>
  <div class="settings_list_container">
    <ul>
      <li class="odd">
        <div>
          <p class="setting_name">services.google.tracking_id</p>
          <p class="setting_description">Integration ID with Google Analytics</p>
        </div>
        <span class="setting_value"><a href="">UA-1234567-9</a></span>
      </li>
      <li class="even">
        <div>
          <p class="setting_name">services.google.tracking_id</p>
          <p class="setting_description">Integration ID with Google Analytics</p>
        </div>
        <span class="edit_value">
          <input type="text"/>
          <a href="" class="action_input">Save</a>
        </span>
        <span class="cancel_value">or <a href="">cancel</a></span>
      </li>
      <li class="odd last">
        <div>
          <p class="setting_name">services.google.tracking_id</p>
          <p class="setting_description">Integration ID with Google Analytics</p>
        </div>
        <span class="setting_value"><a href="">UA-1234567-9</a></span>
      </li>
    </ul>
  </div>
  <div class="settings_footer"></div>
</div>