<table class="data">
  <tr>
    <% @table.schema.first(3).each do |column| %>
    <th class="<%= column.last %>"><%= column.first %></th>
    <% end %>
  </tr>
  <% if @rows.present? %>
    <% first_row = @rows.shift %>
    <tr>
      <% first_row.values.first(3).each do |cell| %>
        <td class="first"><%= truncate(cell.to_s, :length => 35) %></td>
      <% end %>
    </tr>
    <% @rows.each do |row| %>
      <tr class="item <%= cycle('odd', 'even') %>">
        <% row.values.first(3).each do |cell| %>
          <td><%= truncate(cell.to_s, :length => 35) %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
