<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'setup/index.css', 'setup/step1.css' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.1.5.1.js', 'setup/step1.js' %>
<% end %>

<%= render 'step_indicator', :step => 1 %>

<div class="small_content_box">
  <h1><%= t('.title') %></h1>
  <p><%= t('.description') %></p>
  <br />
  <p><%= t('.continue') %></p>
  <br />


  <ul>
    <li class="selected">
      <div class="top">
        <div class="bottom">
          <div class="middle">
            <a class="radiobutton" href="#">Use CartoDB</a>
            <div class="options right">
              <%= form_tag setup_path(:step_id => 2) do %>
                <div class="field cartodb">
                  <%= label_tag 'oauth_key', t('.oauth_key'), :class => 'oauth_key' %>
                  <%= text_field_tag 'oauth_key' %>
                </div>
                <div class="field cartodb">
                  <%= label_tag 'oauth_secret', t('.oauth_secret'), :class => 'oauth_secret' %>
                  <%= text_field_tag 'oauth_secret' %>
                </div>
                <div class="submit">
                  <%= submit_tag t('.connect_with_cartodb'), :class => 'main_action' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top">
        <div class="bottom">
          <div class="middle">
            <a class="radiobutton" href="#">Use your own database</a>
            <div class="options bottom">
              <%= form_tag setup_path(:step_id => 2) do %>
                <div class="field">
                  <%= label_tag 'hostname', t('.hostname'), :class => 'hostname' %>
                  <%= text_field_tag 'hostname' %>
                </div>
                <div class="field last">
                  <%= label_tag 'port', t('.port'), :class => 'port' %>
                  <%= text_field_tag 'port' %>
                </div>
                <div class="field">
                  <%= label_tag 'user', t('.user'), :class => 'user' %>
                  <%= text_field_tag 'user' %>
                </div>
                <div class="field last">
                  <%= label_tag 'password', t('.password'), :class => 'password' %>
                  <%= text_field_tag 'password' %>
                </div>
                <div class="field database">
                  <%= label_tag 'database_name', t('.database_name'), :class => 'database_name' %>
                  <%= text_field_tag 'database_name' %>
                </div>
                <div class="submit">
                  <%= submit_tag t('.connect'), :class => 'main_action' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>