<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag 'jquery.1.5.1.js', 'features/index.js' %>
  <script type="text/javascript" charset="utf-8">
    var features = <%= @features.to_json.html_safe %>;
  </script>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'features/index.css' %>
<% end %>

<h1 id="features_list"><%= t('.title')%></h1>
<div id="features_map"></div>

<ul>
  <% @features.each do |feature| %>
    <li><%= link_to feature.name, feature_path(feature) %></li>
  <% end %>
</ul>