<!DOCTYPE html>
<html>
<head>
  <title>Cartoset - Administration Panel</title>
  <%= stylesheet_link_tag 'reset.css', 'admin.css' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="main_content">
  <%= yield %>
</div>
<%= yield :javascripts %>
</body>
</html>
