<!DOCTYPE html>
<html>
<head>
  <title>Cartoset</title>
  <%= stylesheet_link_tag 'reset.css', 'application.css' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="header">
  <% if logged_in? %>
    Hi <%= current_user.username %>! (<%= link_to('logout', logout_path) %>)
  <% else %>
    <%= link_to('login', cartodb_authorize_path) %>
  <% end %>
</div>

<div id="main_content">
  <%= yield %>
</div>
<%= yield :javascripts %>

</body>
</html>
