<!DOCTYPE html>
<html>
<head>
  <title>Cartoset - Configuration process</title>
  <%= stylesheet_link_tag 'reset.css', 'register/index.css' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main_content">
  <%= yield %>
</div>
<%= render 'register/shared/help' %>
<%= yield :javascripts %>
</body>
</html>
